<header class="site-header">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          {% if page.section == "home" %}<li class="active">{% else %}<li>{% endif %}<a href="/">Home</a></li>
          {% if page.section == "news" %}<li class="active">{% else %}<li>{% endif %}<a href="/news">News</a></li>
          {% if page.section == "contact" %}<li class="active">{% else %}<li>{% endif %}<a href="/contact/">Contact</a></li>
          {% if page.section == "officers" %}<li class="active">{% else %}<li>{% endif %}<a href="/officers/">Officers</a></li>
          {% if page.section == "minutes" %}<li class="active">{% else %}<li>{% endif %}<a href="/minutes/">Minutes</a></li>
          {% if page.section == "archive" %}<li class="active">{% else %}<li>{% endif %}<a href="/archive/">Archive</a></li>
          {% if page.section == "about" %}<li class="active">{% else %}<li>{% endif %}<a href="/about">About</a></li>
        </ul>
        <h5 class="muted">Electrical Engineering <br/>Student Advisory Board<br /></h5>
      </div>

</header>
