<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="/assets/css/main.css">

  </head>

  <body>
   <div class="container-narrow">
{% include header-test.html %}
        {{ content }}
{% include footer.html %}
    </div> <!-- /container -->


  </body>
</html>
